<!--
 * @Description: 
 * @version: 
 * @Author: cy
 * @Date: 2020-05-14 16:46:25
 * @LastEditors: cy
 * @LastEditTime: 2020-05-14 17:26:50
--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="main">111</div>
    <script>
        console.log('111')
    </script>
    <!-- <div id="wrap">
        {{value3.name}}{{value2}}
        <p v-html="test">输入框1的内容：{{inputValue}}</p>
        <input type="text" v-model="inputValue">
        <p>输入框2的内容：{{input2Value}}</p>
        <input type="text" v-model="input2Value">
        <button @click="changeValue">click</button>
        
    </div>
    <script src="./test.js"></script> -->
    <script src="./test2.js"></script>
</body>
</html>